# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# MLflow
mlruns/

# DVC
/dataset/*.csv
!/dataset/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Models (tracked by DVC)
# models/model.pkl
